.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #dddde1;
  background-color: #1e1e22;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #888896;
  font-style: italic;
}
.highlight .k, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #8fbfef;
}
.highlight .o, .highlight .ow {
  color: #efbf8f;
}
.highlight .p, .highlight .pi {
  color: #ef8fef;
}
.highlight .kt {
  color: #efef8f;
}
.highlight .nb, .highlight .bp {
  color: #ef8f8f;
}
.highlight .no {
  color: #ef8f8f;
}
.highlight .nf, .highlight .fm {
  color: #bfef8f;
  font-weight: bold;
}
.highlight .s, .highlight .sa, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
  color: #8fef8f;
  font-style: italic;
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #ef8f8f;
}
.highlight .cp {
  color: #bf8fef;
}
.highlight .cpf {
  color: #8fef8f;
}
